
/* General settings starr */
body{
    color: black;
    margin: 0%;
    font-family: 'Gothic A1';
}
ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
}
a{
    text-decoration: none;
    color: white;
}
.container{
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    margin: 0;
}
.white{
    color: white;
}
p{
    margin: 0;
}
.p2{
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #A8A8A8;
}
h2{
    font-size: 38px;
    line-height: 48px;
}
.info{
    width: 300px;
}
.gap{
    gap: 200px;
}
.gap-top{
    padding-top: 100px;
}
/* General settings end */


/* header start */
.header{
    padding: 30px 150px;  
    /* может так быть? */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_menu{
    display: flex;
}

.header_menu_list{
    display: flex;
    gap: 30px;
}
.header_menu_link::after{
    content: "";
    display: block;
    border-bottom: 1px solid white;
    transition: 0.5s ease;
    width: 0%;
    left: 0;
}
.header_menu_link:hover.header_menu_link::after{
    transition: 0.5s ease;
    width: 100%;
}

/* header end */


/* hero start */
.hero_section{
    height: 100vh;
    max-height: 800px;
    min-height: 850px;
    /* запуталась в высоте */
    padding-top: 100px;
}
.test{
    display: flex;
    justify-content: space-between;
}
.hero_section .container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; через него не вышло,добавила еще один див и в нем выровняла блоки*/ 
}
.hero_section{
    background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
}
.hero_buttons-link{
    background: #FC0A7E;
    border-radius: 3px;
    padding: 20px 40px;
    transition: background .5s ease;
}
.hero_buttons-link:hover{
    background: #7b00a4;
    transition: background .5s ease;
}

.hero_button{
    margin: 40px 0;
}
.hero_section_img{
    margin: 60px 0 0 0;
}
.hero_info{
    margin: 144px 0 0 144px;
}
.hero_section h1{
    font-size: 80px;
    line-height: 80px;
}
.hero_section h3{
    font-size: 28px;
    font-weight: 400;
    line-height: 44px;
    margin: 10px 0;
}
.arrow{
    /* text-align: center; почему так не вышло? */
    display: flex;
    justify-content: center;
    transition: padding .5s ease;
}
.arrow:hover{
    padding: 20px;
    transition: padding .5s ease;
}
/* hero end */



/* black start */
.black{
    background: #1B1B1B;
}
.black .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.black_info{
    width: 600px;
    text-align: center;
    padding: 100px 0 0 0;
}
/* black end */


/* Cay start */
/* .Cay .container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}
.Cay_info{
    width: 450px;
} */
/* Cay end */


/* Amet start */
/* .Amet .container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    gap: 200px;
}
.Amet_info{
    width: 450px;
} */
/* Amet end */


/* Magna start */
/* .Magna .container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}
.Magna_info{
    width: 450px;
} */
/* Magna end */

