
/* General settings starr */
body{
    color: black;
    margin: 0%;
    font-family: 'Gothic A1';
}
ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
}
a{
    text-decoration: none;
    color: white;
}
.container{
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
h1{
    margin: 0;
    font-size: 80px;
    font-weight: 400;
    line-height: 80px;
}
.white{
    color: white;
}
p{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #6B6B6B;
}
.p2{
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 20px;
    color: #6B6B6B;
}
h2{
    font-size: 38px;
    line-height: 48px;
    font-weight: 400;
}
.info{
    width: 300px;
}

.gap-top{
    padding-top: 100px;
}
.images{
    width: 100%;
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button{
    border: none;
    background: none;
}
/* General settings end */


/* header start */
.header{
    padding: 30px 150px;  
    /* может так быть? */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_img{
    width: 100%;
    max-width: 150px;
    max-height: 50px;
}

.header_menu{
    display: flex;
}

.header_menu_list{
    display: flex;
    gap: 30px;
}
.header_menu_link::after{
    content: "";
    display: block;
    border-bottom: 1px solid white;
    transition: 0.5s ease;
    width: 0%;
    left: 0;
}
.header_menu_link:hover.header_menu_link::after{
    transition: 0.5s ease;
    width: 100%;
}

/* header end */


/* hero start */
.hero_section{
    height: 100vh;
    max-height: 800px;
    min-height: 850px;
    /* запуталась в высоте */
    padding-top: 100px;
}
.test{
    display: flex;
    justify-content: space-between;
}
.hero_section .container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; через него не вышло,добавила еще один див и в нем выровняла блоки*/ 
}
.hero_section{
    background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
}
.hero_buttons-link{
    background: #FC0A7E;
    border-radius: 3px;
    padding: 20px 40px;
    transition: background .5s ease;
}
.hero_buttons-link:hover{
    background: #7b00a4;
    transition: background .5s ease;
}

.hero_button{
    margin: 40px 0;
}
.hero_section_img{
    margin: 60px 0 0 0;
}
.hero_info{
    margin: 144px 0 0 144px;
}
.hero_section h1{
    font-size: 80px;
    line-height: 80px;
}
.hero_section h3{
    font-size: 28px;
    font-weight: 400;
    line-height: 44px;
    margin: 10px 0;
}
.arrow{

    display: flex;
    justify-content: center;
    transition: transform .5s ease;
}
.arrow:hover{
    transform: translateY(30px);
    transition: transform .5s ease;
}
/* скачет по тупому , может быть зона нажатия больше? */
/* hero end */



/* black start */
.black{
    background: #1B1B1B;
}

.black_info{
    width: 600px;
    text-align: center;
    padding: 100px 0 0 0;
}
.black_info .p2{
    color: #A8A8A8;
}
/* black end */


/* block start */
.block .container{
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
}

.order .info{
    order: 2;
}
.order img{
    order: 1;
}
.span{
    text-decoration: underline;
    font-weight: 700;
}
/* второй ордер можно же убрать да ? */
/* block end */


/* services start */
.services{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .services .container{
    width: 100%;
    max-width: 1250px;
 }
 .services_info{
    text-align: center;
    max-width: 430px;
    width: 100%;
    gap: 50px;
    padding: 20px;
 }
/* services end */


/* numbers start */
.numbers{
    display: flex;
    align-items: center;
    justify-content: center;
}
.numbers .container{
    width: 100%;
    max-width: 1250px;
    gap: 100px;
    text-align: center;
}
.numbers_info{
    padding: 20px;
    width: 320px;
}
.numbers_info h6{
    font-size: 60px;
    font-weight: 400;
    margin: 0px;
}
.numbers_info h4{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
/* numbers end */

/* quotes start */

.quotes_info{
    text-align: center;
    width: 100%;
    max-width: 600px;
    gap: 20px;
}
.list_company{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
/* quotes end */


/* vector start */
.vector{
    background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
}
.vector_butttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 10px 150px 10px;
}
.button{
    transition: background .5s ease;
    padding: 15px 30px;
    background: none;
    border: 0.5px solid white; 
    /* transition: border .5s ease; */
}
.button:hover{
    background: #FC0A7E;;
    transition: background .5s ease;
    border: none;
    /* transition: border .5s ease; */
/* нельзя 2 транзишина в одном ховер описать? */
}
.vector h2{
    margin: 0;
    text-align: center;
    padding: 150px 10px 10px 10px;
}
/* vector end */


/* footer start */
.footer{
    background: #1B1B1B;
}
.footer_form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.footer_input{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
}
.input_email{
    padding: 20px;
    width: 450px;
    outline: none;
    border: none;
}
.footer_input-button{
    position: absolute;
    padding: 20px 50px;
    background: #FC0A7E;
    color: #1C1C1C;
}
/* footer end */